mixin worldDialog
    world-dialog(
        :world-dialog='worldDialog'
        :hide-tooltips='hideTooltips'
        :is-game-running='isGameRunning'
        :last-location='lastLocation'
        :instance-join-history='instanceJoinHistory'
        :update-instance-info='updateInstanceInfo'
        :is-age-gated-instances-visible='isAgeGatedInstancesVisible'
        @open-folder-generic='openFolderGeneric'
        @delete-vrchat-cache='deleteVRChatCache'
        @world-dialog-command='worldDialogCommand'
        @refresh-instance-player-count='refreshInstancePlayerCount'
        @show-previous-instances-world-dialog='showPreviousInstancesWorldDialog'
        @download-and-save-json='downloadAndSaveJson')

    //- dialog: change Allowed Video Player Domains
    el-dialog.x-dialog(
        :before-close='beforeDialogClose'
        @mousedown.native='dialogMouseDown'
        @mouseup.native='dialogMouseUp'
        ref='worldAllowedDomainsDialog'
        :visible.sync='worldAllowedDomainsDialog.visible'
        :title='$t("dialog.allowed_video_player_domains.header")'
        width='600px')
        div(v-loading='bioDialog.loading')
            el-input(
                v-for='(domain, index) in worldAllowedDomainsDialog.urlList'
                :key='index'
                :value='domain'
                v-model='worldAllowedDomainsDialog.urlList[index]'
                size='small'
                style='margin-top: 5px')
                el-button(
                    slot='append'
                    icon='el-icon-delete'
                    @click='worldAllowedDomainsDialog.urlList.splice(index, 1)')
            el-button(@click='worldAllowedDomainsDialog.urlList.push("")' size='mini' style='margin-top: 5px') {{ $t('dialog.allowed_video_player_domains.add_domain') }}
        template(#footer)
            el-button(
                type='primary'
                size='small'
                :disabled='!worldAllowedDomainsDialog.worldId'
                @click='saveWorldAllowedDomains') {{ $t('dialog.allowed_video_player_domains.save') }}
